.logo-link__web {
  color: var(--accent-color);
}

.logo-link__studio {
  color: var(--logo-color);
}

.logo-link__studio_dark-theme {
  color: var(--dark-background-text-color);
}

.logo-link {
  font-family: var(--logo-font);
  @include font(700, 24px, 28px);

  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    @include font(700, 26px, 31px);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .header__logo-link {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo-link {
    margin-right: 95px;
  }
}

.footer__logo-link {
  margin-bottom: 20px;
}
