:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-overlay-color: rgba(33, 150, 243, 0.9);
  --backlight-color: #188ce8;
  --main-text-color: #757575;
  --heading-color: #212121;
  --dark-background-text-color: #ffffff;
  --section-background-color: #2f303a;
  --logo-color: #000000;
  --footer-contacts-color: #ffffff99;
  --accent-background-color: #f5f4fa;
  --background-hero-color: #c4c4c4;
  --activity-background-color: rgba(47, 48, 58, 0.8);
  --icon-color: #afb1b8;
  --timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --modal-form-border: rgba(33, 33, 33, 0.2);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --footer-form-label-color: rgba(255, 255, 255, 0.6);
  --footer-form-border-color: rgba(255, 255, 255, 0.3);
}
